header{
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    background-color: forestgreen;
    align-items: center;
    padding: 10px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 80px;
    margin-right: 90px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0; /*m0*/
}
a{
    text-decoration: none;
    color: darkviolet;
}
nav a{
    font-weight: 600; /*negrita*/
    padding-right: 10px;
}
nav a:hover{
    color: lavenderblush;
}