*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    /*la imagen sea estática*/
    background-image: url("/Estilos CSS/imagen/isla de pascua.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
    background-attachment: fixed;
    background-size: cover;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    min-height: 100%;
}
body > *{
    box-shadow: -1px 1px 7px 0px rgb(0, 0, 0, 0.75);
    border-radius: 4px;
    padding: 10px;
    text-align: center;
}
body{
    /*Proporciona una cuadricula de una sola columna*/
    display: grid;
    /*Separación de los elementos*/
    gap: 20px;
    /*Definir las áreas para un mismo diseño*/
    grid-template-areas:
    "header"
    "nav"
    "section"
    "aside"
    "footer"
    ;
}
.header{
    grid-area: header;
    background-color: aquamarine;
}
.nav{
    grid-area: nav;
    background-color: coral;
}
.section{
    grid-area: section;
    background-color: darkcyan;
}
.aside{
    grid-area: aside;
    background-color: darkseagreen;
} 
.footer{
    grid-area: footer;
    background-color: hotpink;
}
img{
    width: 100%;
}
/*PSEUDOELEMENTO : hover*/
img:hover{
    /*Desenfoque*/
    /*filter: blur(50px);*/
    /*Escala de grises*/
    /*filter: grayscale(80%);*/
    /* sepia --> + o - intesidad*/
    /*filter: sepia(60%);*/ /*Los colores bajan su tonalidad*/
    /*filter: saturate(180%);*/ /*Da más vida a los colores*/
    filter: opacity(1);
}
/* PSEUDOCODIGO: es una palabra que se añade a los selectores y que especifíca un estado especial del elemento seleccionado */

/*TAMAÑO TABLET*/
@media (min-width:600px){
    body{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside section"
        "footer footer"
        ;
    }
}
/*TAMAÑO ESCRITORIO*/
@media (min-width:900px){
    body{
        grid-template-columns: 200px auto 200px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas: 
        "header header header"
        "nav section aside"
        "footer footer footer"
        ;
    }
}
