 nav{
    background-color: rgb(201, 165, 122);
}
.menu{
    text-align: center;
    margin: 0;
}
.menu li{
    display: inline-block;
}
.menu a{
    padding: 60px; /*Separa los bloques*/
    color: maroon;
    text-decoration: none;
    display: block;
}
.menu a:hover{
    background-color: darkgreen;
    color: fuchsia;
}
.entrada{
    background-color: indigo;
    color: beige;
    text-align: center;
    overflow: hidden; /*Ayuda a quitar el espacio superior*/
    padding: 30px;
}
#contorno{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: lavender;
}
#led{
    text-align: center; 
    font-family: Arial Black; 
    font-weight: bold; 
    font-size: 30px; 
    color: #fff; 
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgba(0,0,0,0.1), 0 0 5px rgba(0,0,0,0.1), 0 1px 3px rgba(0,0,0,0.3), 0 3px 5px rgba(0,0,0,0.2), 0 5px 10px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.2), 0 20px 20px rgba(0,0,0,0.15);
}
#desenfoque{
    text-align: center; 
    font-family: Arial Black;
    font-weight: bold;
    font-size: 30px;
    color: lightblue;
    /* somb-x | somb-y | desenf-radio | color */
    text-shadow: 0 0 9px #61e4ed;
    text-transform: uppercase;
}
#neon{
    text-align: center; 
    font-family: Arial;
    font-size: 30px;
    color: rgb(22, 198, 198);
    text-shadow: 0 0 9px #c5e418;
}
img{
    width: 400px;
    height: auto;
    display: block; /*Se convierte en bloque*/
    margin: auto; /*Centrado*/
    border-radius: 80px;
    /* somb-x | somb-y | desenf-radio | color */
    /*box-shadow: 8px 8px 0px rebeccapurple;*/

    /*Borde a mi fotografia*/
    /*border: 10px solid maroon;*/
    padding: 10px;
}
table{
    width: 100%;
    /*border-spacing: 0;*/
    border-collapse: separate;
    /*caption-side: bottom;*/ /*Para pomer titulo debajo de la tabla*/
}
tr, td{
    width: 25%;
    text-align: center;
    /*solid, dashed, dotted*/
    border: 1px solid peru;
    vertical-align: top;
}
caption{
    background-color: gold;
    border: 2px solid maroon;
    padding: 5px;
}
th{
    background-color: darkgreen;
}
#bolivia{
    background: linear-gradient(green,40%, yellow, red);
}
footer{
    background-color: darkmagenta;
    color: #fff;
}
footer img{
    width: 25px;
}