*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-image: url("/imagenes/pantalla_francia.webp");
    background-repeat: no-repeat;
    background-position: center center;
    height: 1000px;
    background-attachment: fixed;
    background-size: cover;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5em;
    min-height: 100%;
}
body > *{
    box-shadow: -1px 1px 7px 0px rgb(0, 0, 0, 0.75);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}
body{
    display: grid;
    gap: 50px;
    grid-template-areas:
    "nav"
    "header"
    "section"
    "aside"
    ;
}
nav{
    background-color: moccasin;
}
.menu{
    text-align: center;
    margin: 0;
    grid-area: nav;
}
.hola li{
    display: inline-block;
    padding: 5px;
}
.menu a{
    padding: 25px;
    text-decoration: forestgreen;
    color: maroon;
    display: block;
}
.menu a:hover{
    background-color: forestgreen;
    color: rgb(213, 243, 16);
}
.hola li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.tour{
    grid-area: header;
    background-color: rgb(36, 52, 141);
}
.sub{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    font-size: 30px;
    color: chartreuse;
    text-shadow: 0 0 50px blue;
    text-shadow: 0 1px 0 #ddd, 0 2px 0 #ccc, 0 3px 0 #bbb, 0 4px 0 #aaa, 0 5px 0 #acacac, 0 6px 1px rgb(0, 0, 0, 0.1), 0 0 5px rgb(0, 0, 0, 0.1), 0 1px 3px rgb(0, 0, 0, 0.3), 0 3px 5px rgb(0, 0, 0, 0.2), 0 5px 10px rgb(0, 0, 0, 0.25), 0 10px 10px rgb(0, 0, 0, 0.2), 0 20px 20px rgb(0, 0, 0, 0.15);
}
img{
    margin-top: 15px;
    width: 100%;
}
img:hover{
    filter: saturate(300%);
}
.section{
    grid-area: section;
    background-color: darkcyan;
}
main{
    height: auto;
    width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: darkcyan;
}
.primero{
    text-align: left;
    text-align: justify;
    color: bisque;
}
.aside{
    grid-area: aside;
    background-color: rgb(36, 52, 141);
}
table{
    width: 100%;
    border-collapse: collapse;
}
caption{
    background-color: green;
    padding: 20px;
    color: white;
}
tr, td{
    text-align: center;
    height: 40px;
    border: 1px solid deeppink;
    vertical-align: top;
}
/*TAMAÑO TABLET*/
@media (min-width:300px){
    body{
        grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header header"
        "nav nav"
        "aside section"
        ;
    }
}
/*TAMAÑO ESCRITORIO*/
@media (min-width:600px){
    body{
        grid-template-columns: 275px auto 275px;
        grid-template-rows: 100px auto 100px;
        grid-template-areas: 
        "nav nav nav"
        "header section aside"
        ;
    }
}